{
  "extends": ["airbnb", "react-app", "prettier", "prettier/react"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "consistent-return": 0,
    "no-useless-escape": 0,
    "no-shadow": 1,
    "react/destructuring-assignment": 0,
    "no-param-reassign": 0,
    "no-nested-ternary": 0,
    "react/jsx-pascal-case": 2,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}
