@import "fonts.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
}
.ant-popover-inner-content {
  padding: 0 !important;
}
.ant-popover-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  text-align: center;
}
.ant-tooltip-arrow {
  border-right-color: rgba(9, 20, 41, 0.7) !important;
  background-color: transparent !important;
}
.ant-tooltip.ant-menu-inline-collapsed-tooltip .ant-tooltip-inner {
  background: linear-gradient(135deg, #1f5ad1, rgba(23, 56, 122, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px !important;
}

.ant-form-item {
  margin-bottom: 0px !important;
  width: 100% !important;
}
.ant-form-item-control {
  line-height: none;
}
.ant-form-item input,
.ant-input,
.ant-btn {
  height: auto !important;
}

.ant-message-notice-content {
  background: linear-gradient(135deg, #a3ceff, #6f4dff) !important;
  font-family: "Montserrat";
  color: white;
  font-weight: 500;
  box-shadow: 0px 5px 25px rgba(111, 77, 255, 0.3) !important;
}
.ant-message-custom-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ant-message .anticon {
  font-size: 18px !important;
  top: 0px !important;
}

.ant-layout-header .anticon {
  color: #707070;
}

.ant-layout-sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.ant-layout-sider-trigger {
  background: linear-gradient(135deg, #255bc7, #348eb4) !important;
}
.ant-back-top-content {
  background: #083269 !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
